<!-- Footer start -->
<!-- Log on to codeastro.com for more projects -->
<footer class="footer">

    <div class="sub-footer" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} - Rent My Ride in Django</p>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-8 col-md-8 col-sm-7">
                        <div class="list-inline" >
                            <a href="tel:+216 53 908 757" style="color: white;"><i class="fa fa-phone" style="color: white;"></i>+216 53 908 757</a>
                            <a href="tel:cysar@carweb.cm"  style="color: white;"><i class="fa fa-envelope" style="position: absolute; right: 180px; bottom: 27px;" ></i>info@carweb.cm</a>
                            <a href="tel:cysar@carweb.cm"  style="color: white; display: inline-block; "><i class="fa fa-clock-o" style="position: absolute; right: 220px; bottom: 5px;"></i> <span style="position: relative; right: 5px; bottom: 3px; color: white;">Mon - Sat: 8:00am - 6:30pm</span> </a>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer end -->
